{% extends 'blog/base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{%  block content %}
    <div class="container mt-5">
        <h1>{{ post.title }}</h1>
        <p style="color: #ccc; font-family: Georgia; font-size: 12px; font-style: italic">Published {{ post.publish }} by {{ post.author }}</p>
        {{ post.body|linebreaks }}

        <p>
            <a href="{% url "post_share" post.id %}">Share this post</a>
        </p>

        <a href="{% url 'post_list' %}" class="btn btn-light">Back</a>

        {% with comments.count as total_comments %}
            <h2 class="mt-4">
                {{ total_comments }} comment{{ total_comments|pluralize }}
            </h2>
            <hr style="color: black">
        {% endwith %}

    <div class="container">
        <div class="row">
            <div class="col">
                {% for comment in comments %}
                <div class="media g-mb-30 media-comment" style="border: gray dashed 1px; padding: 10px 10px">
                    <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                      <div class="g-mb-15">
                        <h5 class="h5 g-color-gray-dark-v1 mb-0">{{ comment.name }}</h5>
                        <span class="g-color-gray-dark-v4 g-font-size-12">{{ comment.created}}</span>
                        <hr>
                      </div>

                      <p>{{ comment.body }}</p>

                      <ul class="list-inline d-sm-flex my-0">
                        <li class="list-inline-item g-mr-20">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                            178
                          </a>
                        </li>
                        <li class="list-inline-item g-mr-20">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                            34
                          </a>
                        </li>
                        <li class="list-inline-item ml-auto">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>
                            Reply
                          </a>
                        </li>
                      </ul>
                    </div>
                </div>
                    <br>
                    <br>
                {% endfor %}
            </div>
            </div>
        </div>
        </div>


{#    <div class="row">#}
{#    <div class="col-md-8">#}
{#        {% for comment in comments %}#}
{#        <div class="media g-mb-30 media-comment">#}
{#            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">#}
{#              <div class="g-mb-15">#}
{#                <h5 class="h5 g-color-gray-dark-v1 mb-0">{{ comment.name }}</h5>#}
{#                <span class="g-color-gray-dark-v4 g-font-size-12">{{ comment.created }}</span>#}
{#                <hr>#}
{#              </div>#}
{##}
{#              <p>{{ comment.body }}</p>#}
{##}
{#              <ul class="list-inline d-sm-flex my-0">#}
{#                <li class="list-inline-item g-mr-20">#}
{#                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">#}
{#                    <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>#}
{#                    178#}
{#                  </a>#}
{#                </li>#}
{#                <li class="list-inline-item g-mr-20">#}
{#                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">#}
{#                    <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>#}
{#                    34#}
{#                  </a>#}
{#                </li>#}
{#                <li class="list-inline-item ml-auto">#}
{#                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">#}
{#                    <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>#}
{#                    Reply#}
{#                  </a>#}
{#                </li>#}
{#              </ul>#}
{#            </div>#}
{#            {% empty %}#}
{#                <p>There are no comments</p>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#    </div>#}
{#    </div>#}
{% endblock %}